@model NoResume.Models.AuditLogging

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutPrivate";
}

<h1>Details</h1>

<div>
    <h4>AuditLogging</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExceptionThrown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExceptionThrown)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeveloperOrAnonymous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeveloperOrAnonymous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfAction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfAction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternetProtocol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternetProtocol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AuditId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
