@model IEnumerable<NoResume.Models.AuditLogging>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutPrivate";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="responsive-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsExceptionThrown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperOrAnonymous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InternetProtocol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuditDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsExceptionThrown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperOrAnonymous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InternetProtocol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuditId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuditId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuditId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
