@model NoResume.Models.SocialProfile

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutPrivate";
}

<h1>Details</h1>

<div>
    <h4>SocialProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedInUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedInUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacebookUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwitterUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwitterUsername)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeveloperId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
